<div class="settings">
  <h1 class="settings-headline">Settings</h1>

  {% for section in config %}
    <h2 class="settings-headline">{{ section }}</h2>

    {% for key, (value, placeholder) in config[section].items() %}
      {% if 'placeholder_' not in key %}
        <div class="settings-group">
          <label class="settings-group-key">{{ key }}</label>
          <input class="settings-group-input" name="{{section}}:{{key}}" value="{{ value or '' }}" placeholder="{{ placeholder or '' }}">
        </div>
      {% endif %}
    {% endfor %}

    <br/>
  {% endfor %}

  <br/>

  <button onclick="settingsSave()" id="settings-save" class="settings-btn">Save</button>
  <button onclick="settingsClose()" id="settings-close" class="settings-btn">Close</button>
</div>
